In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"G:\Data Science Project\New Project (02.11.25)\customer_shopping_behavior.csv")
df

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3895,3896,40,Female,Hoodie,Clothing,28,Virginia,L,Turquoise,Summer,4.2,No,2-Day Shipping,No,No,32,Venmo,Weekly
3896,3897,52,Female,Backpack,Accessories,49,Iowa,L,White,Spring,4.5,No,Store Pickup,No,No,41,Bank Transfer,Bi-Weekly
3897,3898,46,Female,Belt,Accessories,33,New Jersey,L,Green,Spring,2.9,No,Standard,No,No,24,Venmo,Quarterly
3898,3899,44,Female,Shoes,Footwear,77,Minnesota,S,Brown,Summer,3.8,No,Express,No,No,24,Venmo,Weekly
3899,3900,52,Female,Handbag,Accessories,81,California,M,Beige,Spring,3.1,No,Store Pickup,No,No,33,Venmo,Quarterly

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

In [4]:
df.describe()

,Customer ID,Age,Purchase Amount (USD),Review Rating,Previous Purchases
count,3900.000000,3900.000000,3900.000000,3863.000000,3900.000000
mean,1950.500000,44.068462,59.764359,3.750065,25.351538
std,1125.977353,15.207589,23.685392,0.716983,14.447125
min,1.000000,18.000000,20.000000,2.500000,1.000000
25%,975.750000,31.000000,39.000000,3.100000,13.000000
50%,1950.500000,44.000000,60.000000,3.800000,25.000000
75%,2925.250000,57.000000,81.000000,4.400000,38.000000
max,3900.000000,70.000000,100.000000,5.000000,50.000000

In [5]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

### Filling the NA values from the Review Rating column by each Categories median values.

In [6]:
a = df[["Category", "Review Rating"]]
a

         Category  Review Rating
0        Clothing            3.1
1        Clothing            3.1
2        Clothing            3.1
3        Footwear            3.5
4        Clothing            2.7
...           ...            ...
3895     Clothing            4.2
3896  Accessories            4.5
3897  Accessories            2.9
3898     Footwear            3.8
3899  Accessories            3.1

[3900 rows x 2 columns]

In [7]:
b = a[a["Review Rating"].isnull()]
b

         Category  Review Rating
38       Clothing            NaN
50       Clothing            NaN
80       Footwear            NaN
96    Accessories            NaN
262      Clothing            NaN
330      Clothing            NaN
356      Clothing            NaN
383   Accessories            NaN
419      Clothing            NaN
442   Accessories            NaN
452      Clothing            NaN
460      Footwear            NaN
491     Outerwear            NaN
512   Accessories            NaN
560   Accessories            NaN
628      Clothing            NaN
799   Accessories            NaN
829      Clothing            NaN
861      Clothing            NaN
888   Accessories            NaN
1072     Clothing            NaN
1109     Clothing            NaN
1124     Clothing            NaN
1134     Clothing            NaN
1151     Clothing            NaN
1176     Clothing            NaN
1189     Clothing            NaN
1208     Footwear            NaN
1220  Accessories            NaN
1230  Accessories            NaN
1247     Clothing            NaN
1292  Accessories            NaN
1313     Footwear            NaN
1326     Footwear            NaN
1334    Outerwear            NaN
1341     Clothing            NaN
1370  Accessories            NaN

In [8]:
b.groupby("Category")["Review Rating"].size()

Category
Accessories    11
Clothing       19
Footwear        5
Outerwear       2
Name: Review Rating, dtype: int64

In [9]:
df["Review Rating"] = df.groupby("Category")["Review Rating"].transform(lambda x : x.fillna(x.median()))

In [10]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

### Snake Casing the Column Names for better readability.

In [11]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(" ", "_")

In [12]:
df = df.rename(columns = {'purchase_amount_(usd)' : 'purchase_amount'})

In [13]:
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

### Creating a column Age Group

In [14]:
labels = ["Young Adult", "Adult", "Middle_aged", "Senior"]
df["age_group"] = pd.qcut(df["age"], q = 4, labels = labels)

In [15]:
df[["age","age_group"]].head(15)

    age    age_group
0    55  Middle_aged
1    19  Young Adult
2    50  Middle_aged
3    21  Young Adult
4    45  Middle_aged
5    46  Middle_aged
6    63       Senior
7    27  Young Adult
8    26  Young Adult
9    57  Middle_aged
10   53  Middle_aged
11   30  Young Adult
12   61       Senior
13   65       Senior
14   64       Senior

In [16]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,promo_code_used,previous_purchases,payment_method,frequency_of_purchases,age_group
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly,Middle_aged
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly,Young Adult
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly,Middle_aged
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly,Young Adult
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually,Middle_aged

### Creating a Column purchase_frequency_days

In [17]:
df["frequency_of_purchases"].value_counts()

frequency_of_purchases
Every 3 Months    584
Annually          572
Quarterly         563
Monthly           553
Bi-Weekly         547
Fortnightly       542
Weekly            539
Name: count, dtype: int64

In [18]:
frequency_mapping = {
    "Every 3 Months" : 90,
    "Annually" : 365,
    "Quarterly" : 90,
    "Monthly" : 30,
    "Bi-Weekly" : 14,
    "Fortnightly" : 14,
    "Weekly" : 7
}

df["purchase_frequency_days"] = df["frequency_of_purchases"].map(frequency_mapping)

In [19]:
df[["frequency_of_purchases", "purchase_frequency_days"]]

     frequency_of_purchases  purchase_frequency_days
0               Fortnightly                       14
1               Fortnightly                       14
2                    Weekly                        7
3                    Weekly                        7
4                  Annually                      365
...                     ...                      ...
3895                 Weekly                        7
3896              Bi-Weekly                       14
3897              Quarterly                       90
3898                 Weekly                        7
3899              Quarterly                       90

[3900 rows x 2 columns]

### Checking discount_applied and promo_code_used columns for dropping one of them

In [20]:
(df["promo_code_used"] == df["discount_applied"]).all()

np.True_

In [21]:
df.drop(columns = {"promo_code_used"}, axis = 1, inplace = True)

In [22]:
df.head()

,customer_id,age,gender,item_purchased,category,purchase_amount,location,size,color,season,review_rating,subscription_status,shipping_type,discount_applied,previous_purchases,payment_method,frequency_of_purchases,age_group,purchase_frequency_days
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,14,Venmo,Fortnightly,Middle_aged,14
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,2,Cash,Fortnightly,Young Adult,14
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,23,Credit Card,Weekly,Middle_aged,7
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,49,PayPal,Weekly,Young Adult,7
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,31,PayPal,Annually,Middle_aged,365

# Establishing a Connection with MySQL Server.

In [23]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\abs\anaconda3\lib\site-packages (9.5.0)

In [24]:
import mysql.connector

# establish connection
connection = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "mysqlabs31.com",
    database = "customer_behaviour"
)

# check connection
if connection.is_connected():
    print("✅ Connected to MySQL successfully!")

✅ Connected to MySQL successfully!

In [25]:
cursor = connection.cursor()
cursor.execute("SELECT DATABASE();")
print("Current Database:", cursor.fetchone())

Current Database: ('customer_behaviour',)

In [26]:
cursor.execute("SHOW TABLES;")
for table in cursor:
    print(table)

In [27]:
!pip install SQLAlchemy pymysql

Requirement already satisfied: SQLAlchemy in c:\users\abs\anaconda3\lib\site-packages (2.0.39)
Collecting pymysql
  Downloading pymysql-1.1.2-py3-none-any.whl.metadata (4.3 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\abs\anaconda3\lib\site-packages (from SQLAlchemy) (3.1.1)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\abs\appdata\roaming\python\python313\site-packages (from SQLAlchemy) (4.14.1)
Downloading pymysql-1.1.2-py3-none-any.whl (45 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.1.2

In [28]:
from sqlalchemy import create_engine

In [29]:
engine = create_engine(
    "mysql+pymysql://root:mysqlabs31.com@localhost/customer_behaviour"
)

In [31]:
df.to_sql(name = "customer", con = engine, index = False, if_exists = "replace")

3900

In [32]:
pd.read_sql("SHOW TABLES", con = engine)

  Tables_in_customer_behaviour
0                     customer